:root {
  --lightblue: #add8e6;
  --oceanblue: #354b90;
  --green: #489c00;
  --grassgreen: #357b00;
  --darkyellow: #e0b300;
  --darkgreen: #357b70;
  --lightviolet: #e6e6fa;
  --blue: #3f00ff;
  --gray: #6082b6;
  --font-size-h2: 24px;
  --font-weight-h2: 700;
  --margina: 0 auto;
  --textal: center;
  --ivory: #FFFFF0;
}

* {
	box-sizing:border-box;
}

*/
h1 {
	color:var(--oceanblue);
	text-align:center;
}

body {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 16px;
	margin:0px;
 /*  Sets the font size to 24px */
  line-height: 2;
  background-color: var(--ivory);
}

.modal {
	text-align:center;
}

.container {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.list-group {
	padding-top:120px;
	list-style:none;
}


#navbarNav {
	justify-content:right;
}

.navbar-collapse {
	text-align:center;
	margin-top:-30px;
}

.modal-header , .modal-title{
	display:inline-block;
}

.navbar {
	height:130px;
	background-color:red;
	color: blue;
	border-bottom:6px solid black;
}

.nav-link {
	background-color:var(--darkyellow);
	border: 2px solid #1F51FF;
	border-radius:20px;
	font-size:20px;
	
}

 .btn-primary {
  font-size: 1rem;
	width: 15rem;
  height: 5rem;
  -webkit-transition-duration: 0.4s; /* safari*/
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fdcc03ff;
  color: black;
  border: 5px solid #1F51FF;
	border-radius:20px;
	box-shadow: gray 4px 3px 5px 0;
	transition: all .2s ease-in-out;
}

.btn-primary:hover { 
transform: scale(1.02);
box-shadow:#696969 7px 5px 5px 0;
 }

img {
	height:150px;
	width:200px;	
}

.logo {
padding-top:-20px;
padding-bottom:auto;
}

